<a
    href="{{ media_url }}"
    target="_blank"
    {% if id -%}
        id="{{ id }}"
    {%- endif -%}
    {%- if class -%}
        class="{{ class }}"
    {%- endif %}
    {%- if style -%}
        style="{{ style }}"
    {%- endif %}
>
    {{ media_name }}
</a>
