<div id="{{ galleryId }}" class="jssor-gallery-container {{ galleryClass }}">
    <!-- Loading Screen -->
        <div u="loading" class="loader_gallery">
            <div class="load1"></div>
            <div class="load2"></div>
        </div>

        <div u="slides" class="jssor-gallery">
            {% for picture in pictures %}
            <div>
                <img u="image" src="{{ get_media_format_url(picture, imageFormat) }}" title="{{ get_media_title(picture) }}"  alt="{{ get_media_alt(picture) }}" />
                <img u="thumb" src="{{ get_media_format_url(picture, thumbnailFormat) }}" title="{{ get_media_title(picture) }}"  alt="{{ get_media_alt(picture) }}" />
            </div>
            {% endfor %}
        </div>

        <span u="arrowleft" class="jssora05l" ></span>
        <span u="arrowright" class="jssora05r" ></span>

    <div u="thumbnavigator" class="jssort01" >
        <div u="slides" style="cursor: default;">
            <div u="prototype" class="p">
                <div class=w><div u="thumbnailtemplate" class="t"></div></div>
                <div class=c></div>
            </div>
        </div>
    </div>
</div>
<script>require(['{{ asset('/bundles/openorchestramedia/block/Gallery/blockLoader.js') }}']);</script>

