<div {% if id -%}
        id="{{ id }}"
    {%- endif -%}
    {%- if class -%}
        class="{{ class }}"
    {%- endif %}>
    {% if linkUrl is not null %}
        <a href="{{ url(linkUrl.id) }}">{{ render_media(picture.id, {'format': picture.format, 'alt': picture.alt}) }}</a>
    {% else %}
        {{ render_media(picture.id, {'format': picture.format, 'alt': picture.alt}) }}
    {% endif %}
</div>
