<div {% if id -%}
        id="{{ id }}"
    {%- endif -%}
    {%- if class -%}
        class="{{ class }}"
    {%- endif %}>
    {% if linkUrl is not null %}
        <a href="{{ url(linkUrl.id) }}">{{ display_media(picture.id, picture.format) }}</a>
    {% else %}
        {{ display_media(picture.id, picture.format) }}
    {% endif %}
</div>
