{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    <div>
        <div id="{{ carrousel_id }}" class="jssor-slider-container {{ carrousel_class }}" style="width:{{ width }}px; height:{{ height }}px;">

            <div u="loading" class="loading">
                <div class="filter"></div>
                <div class="loader"></div>
            </div>

            <div u="slides" class="slides" style="width:{{ width }}px; height:{{ height }}px;">
                {% for picture in pictures %}
                    <div>
                        <img u="image" src2="{{ get_media_format_url(picture, 'original') }}" alt="{{ get_media_alt(picture) }}"</div>
                    </div>
                {% endfor %}
            </div>

            <div u="navigator" class="jssorb05 navigator">
                <div u="prototype"></div>
            </div>

            <span u="arrowleft" class="jssora11l arrowleft"></span>
            <span u="arrowright" class="jssora11r arrowright"></span>
        </div>
    </div>

    <script src="{{ asset('/bundles/openorchestramedia/block/Carrousel/blockLoader.js') }}"></script>
{% endblock %}
