{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    <div>
        <div id="{{ slideshow_id }}" class="jssor-slider-container {{ slideshow_class }}" style="width:{{ width }}px; height:{{ height }}px;">

            <div data-u="loading" class="loading">
                <div class="filter"></div>
                <div class="loader"></div>
            </div>

            <div data-u="slides" class="slides" style="width:{{ width }}px; height:{{ height }}px;">
                {% for picture in pictures %}
                    <div>
                        <img
                            data-u="image"
                            data-src2="{{ get_media_url(picture.id, picture.format) }}"
                            alt="{{ get_media_alt(picture.id) }}"
                        />
                    </div>
                {% endfor %}
            </div>

            <div data-u="navigator" class="jssorb05 navigator">
                <div data-u="prototype"></div>
            </div>

            <span data-u="arrowleft" class="jssora11l arrowleft"></span>
            <span data-u="arrowright" class="jssora11r arrowright"></span>
        </div>
    </div>
    <script>
           require(['{{ asset('/bundles/openorchestramedia/block/Slideshow/blockLoader.js') }}']);
    </script>
{% endblock %}
